// colors
$white: #FFF;
$white-gray: #D7D7D7;
$white-shade: #E8E8E8;
$white-cream: #FDF5E6;
$white-light: #f3f3f3;
$off-white: #CECECE;

$black: #000;
$black-secondary: #151515;
$black-shadow: #1F1F1F;
$black-text: #333;

$red-primary: #f1453d;
$red-warning: #fc5830;
$red-font: #FF3C3C;
$red-highlight: #FD7252;

$gray-primary: #787878;
$gray-highlight: #3E3E3E;
$gray-container: #4c4c4c;
$gray-header: #9F9F9F;
$gray-disabled: #D3D3D3;
$gray-light: #5A5A5A;
$gray-status: #AAA;
$gray-button: #555555;

$disabled-icon: #5E5E5E;
$disabled-text: #838383;
$disabled-dark: #404040;

// screen-size
$mobile-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;

$font-primary: 'Open-Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;